html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Press Start 2P", system-ui;
    background-color: #516dff;
    color: white;
}

/* Here's where everthing starts */

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2rem;
    position: relative;
}
.initialization{
   
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    transition: all .4s linear;
   
}

.title, .selection-title{
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
}

.button{
    padding: 1.2rem 2rem;
    color: #516dff;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
}

 .selection{
    height: 0;
    visibility: hidden; 
    /* Lo de arriba es lo que va, lo de abajo es para la maquetacion */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: all .4s linear;
}

.insects-selection{
    display: flex;
    justify-content: center;
    max-width: 68rem;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
    cursor: pointer;  
    
}

.insects-selection li{
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 2rem 2rem 1rem 2rem;
    border: 1px solid white;
    position: relative;
    
}
.insects-selection li::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.insects-selection li:hover{
    background-color: white;
    color: #516dff;
}
.insects-selection li p{
    font-size: 1.2rem;
}
.insects-selection li img{
    width: 10rem;
    height: 10rem;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;

}
.game{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    transition: all .8s linear;
    
} 
.insectsContainer{
    height: 100%;
    width: 100%
}

.show {
    visibility: visible;
    flex: 1;
    height: 100vh;

}
.top{
    top: 0;
}